.createUser {
  .descr {
    margin-top: 15%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    span {
      color: #b638ff;
    }
  }

  p {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    color: #fff;
    font-size: 25px;
  }

  input {
    margin-top: 20px;
    width: 220px;
    height: 34px;
    padding: 0px 0px 0px 12px;
    color: #000;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    transition: all 0.2s ease-in;

    &:focus {
      outline: none;
    }
  }

  button {
    height: 34px;
    color: #000;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    border: none;
    cursor: pointer;
  }
}
