html {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #0a0a0c;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

.style {
  color: red;
}

.style-2 {
  color: aqua;
}
